// Base colors
$black: #000000;
$red: #E93E30;
$yellow: #F7E018;
$light-blue: #299ED5;
$grey: #292C33;
$green: #67C770;
$purple: #563D7C;
$primary-color: #729E2E;
$secondary-color: #ffffff;
$text-color: #333;
$border-color: #d8d8d8;
$background-post: #eeeeee;

$horizontal-post-height: 8rem;
$border-rounded: 8px;

// Font stack
$font-stack: 'Poppins', sans-serif;

// font styles
$font-title: 2rem;
$font-bold: 700;
$font-medium: 500;
